# generate files
**/*.asv
**/*.mat
**/*.aux
**/*.bbl
**/*.dvi
**/*.log
**/*.synctex
**/*.pdf
**/*.eps
**/*.fig

# vrep的远程api环境
/connectionTool/**

# vrep的demo
/vrep_examples/**

# matlab robotics toolbox
/rvctools/**

# matlab app
/app/**

# exceptions
!/app/MTPBSO.mlapp
